<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fcr.dao.ExpImitationMapper">
  <resultMap id="BaseResultMap" type="fcr.model.ExpImitation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="subject_id" jdbcType="INTEGER" property="subjectId" />
    <result column="imi_content" jdbcType="VARCHAR" property="imiContent" />
    <result column="imi_result" jdbcType="VARCHAR" property="imiResult" />
    <result column="imi_time" jdbcType="VARCHAR" property="imiTime" />
    <result column="imi_date" jdbcType="VARCHAR" property="imiDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, subject_id, imi_content, imi_result, imi_time, imi_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from exp_imitation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from exp_imitation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="fcr.model.ExpImitation">
    insert into exp_imitation (id, subject_id, imi_content, 
      imi_result, imi_time, imi_date
      )
    values (#{id,jdbcType=INTEGER}, #{subjectId,jdbcType=INTEGER}, #{imiContent,jdbcType=VARCHAR}, 
      #{imiResult,jdbcType=VARCHAR}, #{imiTime,jdbcType=VARCHAR}, #{imiDate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="fcr.model.ExpImitation">
    insert into exp_imitation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="subjectId != null">
        subject_id,
      </if>
      <if test="imiContent != null">
        imi_content,
      </if>
      <if test="imiResult != null">
        imi_result,
      </if>
      <if test="imiTime != null">
        imi_time,
      </if>
      <if test="imiDate != null">
        imi_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null">
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="imiContent != null">
        #{imiContent,jdbcType=VARCHAR},
      </if>
      <if test="imiResult != null">
        #{imiResult,jdbcType=VARCHAR},
      </if>
      <if test="imiTime != null">
        #{imiTime,jdbcType=VARCHAR},
      </if>
      <if test="imiDate != null">
        #{imiDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="fcr.model.ExpImitation">
    update exp_imitation
    <set>
      <if test="subjectId != null">
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="imiContent != null">
        imi_content = #{imiContent,jdbcType=VARCHAR},
      </if>
      <if test="imiResult != null">
        imi_result = #{imiResult,jdbcType=VARCHAR},
      </if>
      <if test="imiTime != null">
        imi_time = #{imiTime,jdbcType=VARCHAR},
      </if>
      <if test="imiDate != null">
        imi_date = #{imiDate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="fcr.model.ExpImitation">
    update exp_imitation
    set subject_id = #{subjectId,jdbcType=INTEGER},
      imi_content = #{imiContent,jdbcType=VARCHAR},
      imi_result = #{imiResult,jdbcType=VARCHAR},
      imi_time = #{imiTime,jdbcType=VARCHAR},
      imi_date = #{imiDate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>